{% extends "base.html" %}

{% block content %}
<div class="table-container">
    <h1 style="text-align:center;">Lista de Pacientes</h1>
    <a href="{% url 'crear_paciente' %}" class="create-btn">Crear Nuevo Paciente</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>CI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.id_paciente }}</td>
                    <td>{{ paciente.ci }}</td>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellido }}</td>
                    <td>{{ paciente.fecha_nacimiento }}</td>
                    <td>{{ paciente.telefono }}</td>
                    <td>{{ paciente.direccion }}</td>
                    <td class="td-acciones">
                        <a href="{% url 'editar_paciente' paciente.pk %}" class="action-btn">Editar</a>
                        <a href="{% url 'eliminar_paciente' paciente.pk %}" class="action-btn delete">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%}